<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hailong.fireshare.mapper.UserFileMapper">

    <sql id="selectByExtendName" >
        left join file on file.fileId = userfile.fileId
        where extendName in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName" >
            #{fileName}
        </foreach>
        and userId = #{userId}
    </sql>
    <sql id="selectByNotExtendName">
        left join file on file.fileId = userfile.fileId
        where extendName not in
        <foreach collection="fileNameList" open="(" close=")" separator="," item="fileName" >
            #{fileName}
        </foreach>
        and userId = #{userId}
    </sql>
    <select id="selectFileByExtendName" parameterType="com.hailong.fireshare.entity.UserFile" resultType="com.hailong.fireshare.vo.UserFileListVo">
        select * from userfile
        <include refid="selectByExtendName"></include>
        limit #{beginCount}, #{pageCount}
    </select>

    <select id="selectCountByExtendName" parameterType="com.hailong.fireshare.entity.UserFile" resultType="java.lang.Long">
        select count(*) from userfile
        <include refid="selectByExtendName"></include>
    </select>

    <select id="selectFileNotInExtendNames" parameterType="com.hailong.fireshare.entity.UserFile" resultType="com.hailong.fireshare.vo.UserFileListVo">
        select * from userfile
        <include refid="selectByNotExtendName"></include>
        limit #{beginCount}, #{pageCount}
    </select>

    <select id="selectCountNotInExtendNames" parameterType="com.hailong.fireshare.entity.UserFile" resultType="java.lang.Long">
        select count(*) from userfile
        <include refid="selectByNotExtendName"></include>
    </select>

    <select id="userfileList" resultType="com.hailong.fireshare.vo.UserFileListVo">
        SELECT * FROM userFile uf
        LEFT JOIN file f on f.fileId = uf.fileId
        <where>
            <if test="userfile.filePath != null">
                and uf.filePath = #{userfile.filePath}
            </if>
            <if test="userfile.userId != null">
                and uf.userId = #{userfile.userId}
            </if>
            <if test="userfile.extendName != null">
                and uf.extendName = #{userfile.extendName}
            </if>
        </where>
        ORDER BY isDir desc
        limit #{beginCount}, #{pageCount}
    </select>
</mapper>